// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 300 to 800

.open-sans-<uniquifier> {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:

}


*{
    margin-left: 30px;
    margin-right: 30px;
    padding: 0;
    box-sizing: border-box;
    
}

.body{
    background-color: rgba(241, 241, 243, 1);
}
/* header */
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-top: 0px;
    background-color: white;
    


}
.btn-signin{
    padding: 10px;
    border-radius: 5px;
    font-color: rgba(0, 106, 80, 1);
    background-color: whitesmoke;
}
/* HERO SECTION */
.hero{
    display: flex;
    justify-items: space-around;
    align-items: center;
    padding: 50px 70px 50px 70px;
    background-color: #C6E4D6;
    border-radius: 10px;
}
.btn-Explore{
    background-color: rgba(0, 106, 80, 1);
    padding: 17px 34px;
    border-radius: 8px;
}

<!--The vision of future-->
.future{
    margin-left: auto;
    margin-right: auto;
}
.vision{
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content:space-around;
    margin: 0px;  
    
}
.digital{
    width: ;
    padding: 32px 32px;
    list-style-type: none;
    background-color: rgba(84, 142, 245, 0.2);
    border-radius: 16px;
    
}
.digital-learn-more{
    background-color: rgba(84, 144, 245, 1);
    padding: 10px;
    border-radius: 5px;
}
.green{
    padding: 32px 32px;
    margin-left: auto;
    margin-right: auto;
    list-style-type: none;
    list-style-type: none;
    background-color: rgba(198, 228, 214, 1);
    border-radius: 10px;
}
.green-learn-more{
    background-color: rgba(9, 161, 92, 1);
    padding: 10px;
    border-radius: 5px;
}
    .modern{
        padding: 32px 32px;
        list-style-type: none;
        list-style-type: none;
    list-style-type: none;
    background-color: rgba(247, 235, 207, 1);
    border-radius: 10px;
    }
    .modern-learn-more{
        background-color: rgba(255, 194, 57, 1);
    padding: 10px;
    border-radius: 5px;
    }
    .btn-signin{
        background-color: rgba(84, 144, 245, 1);
    }

    /* Quote */
    .chief{
        font-family: rgba(14, 14, 14, 0.6);

    }

    /* your opinion matters */
    .table{
        margin: 20px;
        padding: 32px 32px;
        width: 100%;
        text-align: left;
        border-collapse: collapse;
        background-color: white;
        border-radius: 10;

    }
    th, td{
        border: 1px solid;
        padding: 10px;
        border-radius: 5px;
        
    }
    .question{
        background-color: rgba(198, 228, 214, 1);
    }
    .button{
        cursor: pointer;
        background-color: rgba(9, 161, 92, 0.15);
        border-radius: 5px;
        butt

    }

    <!-- Recent News Section-->

.recent-news{
    margin: 30px;

}
.satelite{
    display: flex;
    margin: 0px;
    padding: 40px;
    background-color: rgba(255, 255, 255, 1);
    align-items: flex-start;
    margin-top: 40px;
    border: none;
    border-radius: 10px;

}
.read-more{
   background-color: rgba(0, 106, 80, 1); 
   padding: 10PX;
   border-radius: 5px;
}
.bangladesh{
    display: flex;
    margin: 30px;
    padding: 40px;
    background-color: rgba(255, 255, 255, 1);
    align-items: flex-start;
    margin-top: 0px;
    border: none;
    border-radius: 10px;
}

/*  donate now*/
.donate-today{
    margin: 30px auto;
    padding: 20px;
    text-align: center;
}
.donation-buttons{
    display:flex;
    justify-content: space-around;
    margin: 10px;
}
.btn-donate{
    background-color: rgba(255, 255, 255, 1);
    font-size: xx-large;
    font-weight: bold;
    padding: 40px;
    border-radius: 16px;
}
.btn-donate-active{
   background-color: rgba(198, 228, 214, 1); 
   font-size: xx-large;
    font-weight: bold;
    padding: 40px;
    border-radius: 16px;
}
.donation-amount{
    width: 1032px;
    padding: 20px;
    font-size: 20px;
    text-align: center;
}
.done{
    background-color: rgba(0, 106, 80, 1);
    text-align: center;
    border: none;
    padding: 25px 15px;
    border-radius: 16px;
}








