// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 300 to 800

.open-sans-<uniquifier> {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

*{
    margin-left: 30px;
    margin-right: 30px;
    padding: 0;
}

.body{
    background-color: rgba(241, 241, 243, 1);
}
/* header */
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-top: 0px;
    background-color: white;


}
.btn-signin{
    color: #006A50;
}
/* HERO SECTION */
.hero{
    display: flex;
    justify-items: space-around;
    align-items: center;
    padding: 50px 70px 50px 70px;
    background-color: #C6E4D6;
    border-radius: 10px;
}

<!--The vision of future-->
.future{
    text-align: center;
    justify-content: center;
}
.vision{
    display: flex;
    gap: 20px;
    align-items: center;
    margin: 30px;  
    
}
.digital{
    list-style-type: none;
    background-color: rgba(84, 142, 245, 0.2);
    border-radius: 10px;
    
}
.green{
    list-style-type: none;
    list-style-type: none;
    background-color: rgba(198, 228, 214, 1);
    border-radius: 10px;
}
    .modern{
        list-style-type: none;
        list-style-type: none;
    list-style-type: none;
    background-color: rgba(247, 235, 207, 1);
    border-radius: 10px;
    }
    .btn-signin{
        background-color: rgba(84, 144, 245, 1);
    }

    /* Quote */
    .chief{
        font-family: rgba(14, 14, 14, 0.6);

    }

    /* your opinion matters */
    .table{
        margin: 30px;
        width: 90%;
        text-align: left;
        border-collapse: collapse;
        background-color: white;
        border-radius: 10;

    }
    th, td{
        border: 1px solid;
        padding: 10px;
        border-radius: 5px;
        
    }
    .question{
        background-color: rgba(198, 228, 214, 1);
    }
    .button{
        cursor: pointer;
        background-color: rgba(9, 161, 92, 0.15);
        border-radius: 10px;

    }



